@font-face {
  font-family: 'Titillium';
  src: url("../fonts/Titillium-Regular.eot");
  src: url("../fonts/Titillium-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium-Regular.woff2") format("woff2"), url("../fonts/Titillium-Regular.woff") format("woff"), url("../fonts/Titillium-Regular.ttf") format("truetype"), url("../fonts/Titillium-Regular.svg#Titillium-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url("../fonts/Titillium-Bold.eot");
  src: url("../fonts/Titillium-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium-Bold.woff2") format("woff2"), url("../fonts/Titillium-Bold.woff") format("woff"), url("../fonts/Titillium-Bold.ttf") format("truetype"), url("../fonts/Titillium-Bold.svg#Tilitium-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url("../fonts/Titillium-Semibold.eot");
  src: url("../fonts/Titillium-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium-Semibold.woff2") format("woff2"), url("../fonts/Titillium-Semibold.woff") format("woff"), url("../fonts/Titillium-Semibold.ttf") format("truetype"), url("../fonts/Titillium-Semibold.svg#Titillium-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noway';
  src: url("../fonts/Noway.eot");
  src: url("../fonts/Noway.eot?#iefix") format("embedded-opentype"), url("../fonts/Noway.woff2") format("woff2"), url("../fonts/Noway.woff") format("woff"), url("../fonts/Noway.ttf") format("truetype"), url("../fonts/Noway.svg#Noway") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.aviso {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #bfd040;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Titillium';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #364848;
  text-transform: uppercase;
}

.float-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0.5%;
  z-index: 999;
  bottom: 40%;
}

.float-box a {
  width: 47px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: width 400ms, color 800ms;
  transition: width 400ms, color 800ms;
  height: 47px;
  line-height: 27px;
  display: block;
  margin-bottom: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

.float-box a:hover {
  width: 220px;
  color: white;
}

.float-box .chat {
  background: url(../images/icone-chat.png) no-repeat right center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #2e4515;
  border-radius: 11px;
}

.float-box .phone {
  background: url(../images/icone-tel.png) no-repeat right center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #2e4515;
  border-radius: 11px;
  font-size: 18px;
}

.float-box .mail {
  background: url(../images/icone-mail.png) no-repeat right center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #2e4515;
  border-radius: 11px;
}

.float-box .whats {
  background: url(../images/icone-zap.png) no-repeat right center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #2e4515;
  border-radius: 11px;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #364848;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
  border-radius: 25px;
}

.cookies .box p {
  font-family: 'Noway';
  font-weight: normal;
  font-style: normal;
  color: #bfd040;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
}

.cookies .box p a {
  text-decoration: underline;
  color: #bfd040;
}

.cookies .box .btn_cookie {
  font-family: 'Noway';
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #364848;
  text-transform: uppercase;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  margin-top: 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #bfd040;
}

.modalMapa .close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -26px;
  right: -19px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 100px;
  border: solid 1px #fff;
  padding: 2px 5px 2px;
}

.modalMapa .modal-dialog {
  width: 1200px;
  margin: 50px auto;
}

.modalMapa .modal-body {
  padding: 0px;
}

.modalVideo .close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -26px;
  right: -19px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 100px;
  border: solid 1px #fff;
  padding: 2px 5px 2px;
}

.modalVideo .modal-body {
  padding: 0px;
}

/* Extra Small */
@media (max-width: 767px) {
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .float-box {
    bottom: 30%;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
  .modalMapa .close,
  .modalVideo .close {
    top: -26px;
    right: 0px;
  }
  .modalMapa .modal-dialog,
  .modalVideo .modal-dialog {
    width: auto;
    margin: 30% auto 0;
  }
}

.home-01 {
  background-color: #bfd040;
}

.home-01 .faixa-01 {
  background-color: #243434;
  width: 65%;
}

.home-01 .faixa-01 p {
  font-family: 'Titillium';
  font-weight: 600;
  color: white;
  padding: 5px;
  font-size: 35px;
}

.home-01 .tt-01 {
  padding: 25px;
}

.home-01 .tt-01 p {
  font-family: 'Titillium';
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #364848;
}

.home-conteudo {
  background-color: #364848;
}

.home-conteudo .segredos p {
  font-family: 'Titillium';
  font-size: 3.4vw;
  color: #bfd040;
}

.home-conteudo .altopadrao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4vw;
}

.home-conteudo .altopadrao .box-altopadrao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #bfd040;
  width: 47.5vw;
  border-radius: 15px;
  padding: 30px;
}

.home-conteudo .altopadrao .box-altopadrao p, .home-conteudo .altopadrao .box-altopadrao h3 {
  font-family: 'Titillium';
  font-weight: bold;
  color: #364848;
}

.home-conteudo .altopadrao .box-altopadrao h3 {
  font-size: 2.6vw;
  margin: -5px 0 25px 0;
}

.home-conteudo .altopadrao .box-altopadrao p {
  font-size: 2vw;
  line-height: 2vw;
}

.home-conteudo .lista-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Titillium';
  font-size: 2vw;
  letter-spacing: 2px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 5vw;
}

.home-conteudo .lista-infos ul {
  list-style-type: square;
}

.home-conteudo .lista-infos ul ::marker {
  color: #bfd040;
}

.home-conteudo .investimento {
  margin-top: 2vw;
  margin-bottom: 3vw;
}

.home-conteudo .investimento p {
  font-family: 'Titillium';
  font-weight: 600;
  font-size: 3.2vw;
  color: #bfd040;
  line-height: 3.2vw;
}

/* Extra Small */
@media (max-width: 767px) {
  .home-01 .faixa-01 {
    width: 75%;
  }
  .home-01 .faixa-01 p {
    font-size: 4vw;
    padding: 7px;
  }
  .home-01 .tt-01 {
    padding: 20px;
  }
  .home-01 .tt-01 p {
    font-size: 4.7vw;
    line-height: 5vw;
  }
  .home-conteudo .segredos p {
    font-size: 5vw;
  }
  .home-conteudo .altopadrao {
    margin-top: 3vw;
  }
  .home-conteudo .altopadrao .box-altopadrao {
    width: 77vw;
    padding: 12px;
  }
  .home-conteudo .altopadrao .box-altopadrao h3 {
    font-size: 4.2vw;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .home-conteudo .altopadrao .box-altopadrao p {
    font-size: 3.3vw;
    line-height: 2.7vw;
  }
  .home-conteudo .lista-infos {
    letter-spacing: 0px;
    font-size: 4vw;
  }
  .home-conteudo .lista-infos ul {
    padding: 0;
  }
  .home-conteudo .investimento {
    margin-top: 5vw;
    margin-bottom: 10vw;
  }
  .home-conteudo .investimento p {
    font-size: 4.6vw;
    line-height: 4.6vw;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .home-01 .faixa-01 p {
    font-size: 3vw;
  }
  .home-01 .tt-01 p {
    font-size: 4vw;
    line-height: 40px;
  }
  .home-conteudo .altopadrao {
    margin-top: 3vw;
  }
  .home-conteudo .altopadrao .box-altopadrao {
    width: 46vw;
    padding: 15px;
  }
  .home-conteudo .altopadrao .box-altopadrao h3 {
    margin-bottom: 10px;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .home-01 .faixa-01 p {
    font-size: 3vw;
  }
  .home-01 .tt-01 p {
    font-size: 4vw;
    line-height: 45px;
  }
  .home-conteudo .altopadrao {
    margin-top: 3vw;
  }
  .home-conteudo .altopadrao .box-altopadrao {
    padding: 20px;
  }
  .home-conteudo .altopadrao .box-altopadrao h3 {
    margin-bottom: 15px;
  }
}

/* Large */
.contato {
  padding-bottom: 2vw;
}

.contato .tt-form {
  margin-bottom: 1vw;
}

.contato .tt-form p {
  font-family: 'Titillium';
  font-size: 2.3vw;
  color: #ffffff;
  line-height: 2.3vw;
}

.contato .group-form .form-group {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;
}

.contato .group-form .form-control {
  font-family: 'Noway';
  font-weight: bold;
  height: 35px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #364848;
  background-color: #bfd040;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  border: none;
  border-radius: 0;
}

.contato .group-form .form-control::-webkit-input-placeholder {
  color: #364848;
  position: absolute;
  left: 2%;
  top: 10px;
}

.contato .group-form .form-control:-ms-input-placeholder {
  color: #364848;
  position: absolute;
  left: 2%;
  top: 10px;
}

.contato .group-form .form-control::-ms-input-placeholder {
  color: #364848;
  position: absolute;
  left: 2%;
  top: 10px;
}

.contato .group-form .form-control::placeholder {
  color: #364848;
  position: absolute;
  left: 2%;
  top: 10px;
}

.contato .group-form textarea {
  height: 125px !important;
}

.contato .group-form .btn_enviar {
  font-family: 'Titillium';
  font-weight: bold;
  font-style: normal;
  padding: 5px 15px 5px 15px;
  margin-bottom: 0;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 1.42857143;
  border: 0px solid transparent;
  border-radius: 25px;
  color: #364848;
  background-color: #bfd040;
  float: right;
  text-transform: uppercase;
}

.contato .group-form .btn_enviar:hover, .contato .group-form .btn_enviar:focus {
  background-color: #fff;
  outline: none;
  outline-offset: 0px;
}

.contato small {
  font-family: 'Noway';
  color: #bfd040;
  font-size: 10px;
  line-height: 13px;
  display: block;
  margin-top: -7%;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato {
    padding-bottom: 20px;
  }
  .contato .tt-form {
    margin-bottom: 3vw;
  }
  .contato .tt-form p {
    font-size: 5vw;
    line-height: 5vw;
  }
  .contato small {
    margin-top: 10px;
    text-align: center;
  }
  .contato .group-form .form-control {
    padding: 6px 6px;
  }
  .contato .group-form .btn_enviar {
    font-size: 20px;
    padding: 3px 13px 3px 13px;
  }
}

/* Small */
/* Medium */
/* Large */
footer .realizacao {
  background-color: #364848;
  padding-bottom: 25px;
}

footer .realizacao p {
  font-family: 'Titillium';
  color: white;
  font-size: 14px;
  padding: 30px;
}

/* Extra Small */
@media (max-width: 767px) {
  footer .realizacao p {
    font-size: 10px;
    padding: 15px;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  footer .realizacao p {
    font-size: 10px;
    padding: 15px;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  footer .realizacao p {
    font-size: 10px;
    padding: 15px;
  }
}

/* Large */
.politica-tt {
  background-color: #364848;
  padding-top: 17px;
  padding-bottom: 17px;
}

.politica-tt h3 {
  font-family: 'Titillium';
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 4px;
  margin: 0;
  padding: 0;
}

.politica {
  background-color: #bfd040;
  position: relative;
  padding-top: 10px;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'Titillium';
  font-weight: normal;
  font-style: normal;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
@media (max-width: 767px) {
  .politica-tt h3 {
    font-size: 25px;
    line-height: 25px;
  }
  .politica {
    padding-bottom: 20px;
  }
  .politica::before {
    width: 1.5%;
  }
  .politica::after {
    width: 1.5%;
  }
  .politica .politica-info {
    margin-top: 20px;
  }
  .politica .politica-info p {
    font-size: 13px;
    line-height: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */